.logo {
    max-height: 10vh;
    background: transparent;
}

.navbar {
    padding-bottom: 2%;
}

.navbar-inverse .navbar-nav > li > a {
  background-color: white;
    border-radius: 20px;
}


.navbar-inverse .navbar-header > a {
    color: transparent;
    background-color: transparent;
}

.navbar-inverse .navbar-header > a:hover,
.navbar-inverse .navbar-header > a:focus {
    color: transparent;
    background-color: transparent; 
}


.contact {
    padding-top: 10%;
}

h3 {
    color: black;
    font-size: 18px;
}