html {
    height: 101%;
}
body {
  font-family: 'Didact Gothic', sans-serif;
  /*font-family: 'Quicksand', sans-serif;*/
  margin-top: 50px
}

.full {
   /* background: url('graphics/background.svg') no-repeat center center fixed;
    background-size: contain;*/
    background: white;
}

.navbar {
    background-color: transparent;
    border: none;
    padding: 30px;
    
}


.navbar-inverse .navbar-nav > li > a {
  color: black;
    padding: 7px 15px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
  background-color: black;
    border-radius: 3px;
    padding: 7px 15px;
}


.navbar .navbar-header .navbar-toggle {
    background-color: black;
}

.navbar .navbar-header .navbar-toggle:hover {
    background-color: darkslategray;
}

.mob {
    display: none;
}

.navbar-inverse .navbar-header > a {
    color: black;
    border-radius: 3px;
    padding: 7px 15px;
    height: 33.24px;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-inverse .navbar-header > a:hover,
.navbar-inverse .navbar-header > a:focus {
    color: white;
    background-color: black; 
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    color: dimgray;
}


h4 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
    color: dimgray;
}